.SearchBar {
  margin-bottom: 20px;
  display: flex;
}

.SearchBar_input {
  flex: 1;
  padding: 10px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 1px solid lightgray;
  border-right: none;
}

.SearchBar_button {
  width: 50px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 1px solid lightgray;
}
